body {
  margin: 0px;
  overflow-x: hidden;
}

.slider {
  display: flex;
}

.slider-container {
  min-width: 100%;
  display: flex;
}

.responsive {
  width: 100%;
  height: auto;
  max-width: 1170px;
  margin: 0px auto;
}